@import "tailwindcss";

@custom-variant dark (&:is(.dark *));
@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

@theme inline {
	/* colors */
	--color-primary: #ee2b69;
	--color-primary-100: #ffe8f0;

	--color-secondary: #fbe843;

	--color-black: #000000;
	--color-black-100: #333333;
	--color-black-200: #141413;
	--color-black-300: #7d8087;

	--color-white: #ffffff;
	--color-white-100: #f7f7f7;

	/* Fonts */
	--default-font-family: "Work Sans", sans-serif;

	/* spacing */
	--container-min-h: 34rem;

	/* Radius */
	--radius-lg: var(--radius);
	--radius-md: calc(var(--radius) - 2px);
	--radius-sm: calc(var(--radius) - 4px);

	/* shadow */
	--shadow-100: 2px 2px 0px 0px rgba(0, 0, 0);
	--shadow-200: 2px 2px 0px 2px rgba(0, 0, 0);
	--shadow-300: 2px 2px 0px 2px rgba(238, 43, 105);

	/* Breakpoints */
	--breakpoint-xs: 30rem;

	/*  */
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-primary-foreground: var(--primary-foreground);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--color-foreground: var(--foreground);
	--color-background: var(--background);
	--radius-xl: calc(var(--radius) + 4px);
}

:root {
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.129 0.042 264.695);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.129 0.042 264.695);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.129 0.042 264.695);
	--primary: oklch(0.208 0.042 265.755);
	--primary-foreground: oklch(0.984 0.003 247.858);
	--secondary: oklch(0.968 0.007 247.896);
	--secondary-foreground: oklch(0.208 0.042 265.755);
	--muted: oklch(0.968 0.007 247.896);
	--muted-foreground: oklch(0.554 0.046 257.417);
	--accent: oklch(0.968 0.007 247.896);
	--accent-foreground: oklch(0.208 0.042 265.755);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.929 0.013 255.508);
	--input: oklch(0.929 0.013 255.508);
	--ring: oklch(0.704 0.04 256.788);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.984 0.003 247.858);
	--sidebar-foreground: oklch(0.129 0.042 264.695);
	--sidebar-primary: oklch(0.208 0.042 265.755);
	--sidebar-primary-foreground: oklch(0.984 0.003 247.858);
	--sidebar-accent: oklch(0.968 0.007 247.896);
	--sidebar-accent-foreground: oklch(0.208 0.042 265.755);
	--sidebar-border: oklch(0.929 0.013 255.508);
	--sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
	--background: oklch(0.129 0.042 264.695);
	--foreground: oklch(0.984 0.003 247.858);
	--card: oklch(0.208 0.042 265.755);
	--card-foreground: oklch(0.984 0.003 247.858);
	--popover: oklch(0.208 0.042 265.755);
	--popover-foreground: oklch(0.984 0.003 247.858);
	--primary: oklch(0.929 0.013 255.508);
	--primary-foreground: oklch(0.208 0.042 265.755);
	--secondary: oklch(0.279 0.041 260.031);
	--secondary-foreground: oklch(0.984 0.003 247.858);
	--muted: oklch(0.279 0.041 260.031);
	--muted-foreground: oklch(0.704 0.04 256.788);
	--accent: oklch(0.279 0.041 260.031);
	--accent-foreground: oklch(0.984 0.003 247.858);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.551 0.027 264.364);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.208 0.042 265.755);
	--sidebar-foreground: oklch(0.984 0.003 247.858);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.984 0.003 247.858);
	--sidebar-accent: oklch(0.279 0.041 260.031);
	--sidebar-accent-foreground: oklch(0.984 0.003 247.858);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}

	::selection {
		@apply bg-foreground text-background;
	}
}

@layer components {
	.pattern::after {
		content: "";
		height: 200%;
		width: 200%;
		position: absolute;
		top: 0;
		left: 0;
		pointer-events: none;
		user-select: none;

		transform: translate(
			calc(-25% + var(--translate-x) * 1px),
			calc(-25% + var(--translate-y) * 1px)
		);

		background-image:
			repeating-linear-gradient(
				180deg,
				#facc15cc 0px,
				#facc15cc 3px,
				#333 3px,
				#333 5px,
				transparent 5px,
				transparent 50px
			),
			repeating-linear-gradient(
				90deg,
				#facc15cc 0px,
				#facc15cc 3px,
				#333 3px,
				#333 5px,
				transparent 5px,
				transparent 50px
			);
		background-size: 100px 100px;
		background-position: center;
	}

	.sub-heading {
		@apply max-w-2xl text-center text-xl font-medium break-words text-white;
	}

	.search-form {
		@apply mt-8 flex min-h-20 w-full max-w-3xl items-center justify-center rounded-full border-4 border-black bg-white px-4 text-2xl;
	}

	.search-input {
		@apply h-auto w-full flex-1 font-bold outline-none placeholder:font-semibold placeholder:text-slate-500;
	}

	.search-btn {
		@apply flex size-12 items-center justify-center rounded-full bg-black;
	}

	.section-container {
		@apply mx-auto max-w-7xl px-6 py-10;
	}

	.card_grid {
		@apply grid gap-5 sm:grid-cols-2 md:grid-cols-3;
	}

	.no_results {
		@apply text-black-100 text-sm font-normal;
	}

	.startup_card {
		@apply shadow-200 hover:border-primary hover:shadow-300 hover:bg-primary-100 rounded-3xl border-4 border-black bg-white px-5 py-6 transition-all duration-500;
	}

	.startup_card-date {
		@apply bg-primary-100 group-hover:bg-white-100 rounded-full px-4 py-2 text-base font-medium duration-500;
	}

	.startup_card-description {
		@apply text-black-100 my-3 line-clamp-2 break-after-auto text-base font-normal;
	}

	.startup_card-image {
		@apply h-56 w-full rounded-2xl object-cover;
	}

	.startup_card-btn {
		@apply !bg-black-200 !rounded-full !px-5 !py-3 !text-base !font-medium !text-white;
	}

	.tag {
		@apply bg-secondary relative rounded-sm px-6 py-3 font-bold uppercase before:absolute before:top-2 before:left-2 before:border-t-8 before:border-r-8 before:border-t-black before:border-r-transparent before:content-[''] after:absolute after:right-2 after:bottom-2 after:border-b-8 after:border-l-8 after:border-b-black after:border-l-transparent after:content-[''];
	}

	.category_tag {
		@apply bg-primary-100 rounded-full px-4 py-2 text-base font-medium;
	}

	.title_container {
		position: relative; /* Add this to ensure proper positioning of the pseudo-element */

		/* The transition needs to be applied to the ::after element directly */
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			transform: skewY(-6deg);
			background: theme(--color-black);
			border-radius: 0.4rem;
			transition: transform 0.2s ease-out;
		}

		&:hover::after {
			transform: skew(0);
		}
	}
}
